<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit BOM</title>
    <link rel="stylesheet" href="{% static 'records/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit BOM</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>
